html{
  margin: 0px;
}

#cima{
  position: auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

a{
  text-decoration: none;
}

span{
  font-weight: bold;
}

#p1{
  font-family: Inter, Arial, Helvetica;
  font-size: 20px;
  font-weight: bold;
  color: black;
  justify-content: center;
  text-align: center;
  padding: auto;
  margin: 2px;
}

#pl{
  position: absolute;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 60px;
}

#título{
  width: 200px;
  height: 100px;
  font-size: 69px;
  font-weight: bolder;
  font-family: Inter, -apple-system, Arial, Helvetica;
  color: black;
  border: none;
  border-radius: 18px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
  position: relative;
  align-items: center;
}

#título:hover{
  animation: 5s ease 0s infinite running myColorChange;
}

#u1{
  font-family: Inter, Arial, Helvetica;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  text-decoration: none;
  margin-right: 35px;
}

#l1{
  font-size: 25px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bolder;
  list-style: none;
  margin-left: 8px;
  margin-right: 8px;
  clear: auto;
  color: black;
  text-decoration: none;
}

#l1a{
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.4s;
  color: black;
}

#l1a:hover{
  background-color: rgb(134, 136, 136); /* Cinza */
  color: black;
  cursor: pointer;
}

#flo{
  font-size: 22px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  color: black;
  background-color: white;
  width: 600px;
  height: 600px;
  border: black solid 5px;
  border-radius: 3vh;
  margin: 5px;
  margin-left: 185px;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
  display: absolute;
  padding: 1%;
}

#but{
  color:white;
  background-color:black;
  font-size: 25px;
  font-family: Inter, Arial, Helvetica;
  border-radius: 1vh;
  padding: auto;
  float: none;
  margin-left: 138px;
  transition-duration: 0.6s;
}

#but:hover{
  background-color: white; /* Branco */
  color: black;
  cursor: pointer;
}

#lado{
  width: 300px;
  height: 670px;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  text-align: center;
  border: black solid 5px;
  border-radius: 3vh;
  margin: 5px;
  margin-left: 20px;
  margin-right: 25px;
  text-decoration: none;
  word-wrap: break-word;
  padding: auto;
}

#pp{
  width: 300px;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  text-align: center;
  border: black solid 5px;
  border-radius: 2vh;
  text-decoration: none;
  word-wrap: break-word;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Legenda */

#leg{
  font-family: Inter, Arial, Helvetica;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

#ulc{
  font-family: Inter, Arial, Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  text-decoration: none;
}

#clist{
  font-family: Inter, Arial, Helvetica;
  font-size: 20px;
  font-weight: bolder;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  clear: auto;
  text-decoration: none;
}

#cimg{
  width: 25px;
  height: 25px;
  position: flex;
}

#alinha{
  float: left;
}

#center{
  justify-content: center;
  text-align: center;
  align-items: center;
}

#bord{
  border-bottom: 5px solid transparent;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

#bot{
  color:white;
  background-color:black;
  font-size: 22px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bolder;
  border: black solid 5px;
  border-radius: 20px;
  padding: 12px;
  float: none;
  margin-top: 50px;
  text-align: center;
  transition-duration: 0.3s;
  cursor: pointer;
}

#bot:hover{
  background-color: white; /* Branco */
  color: black;
  border: black solid 5px;
  border-radius: 20px;
  cursor: pointer;
}

#esp1{
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  font-size: 24px;
  color: red;
  margin: 5px;
  border: transparent 5px;
  border-radius: 1vh;
  transition-duration: 0.4s;
}

#esp1:hover{
  background-color: red; /* Vermelho */
  color: white;
  cursor: pointer;
  border: transparent 5px;
  border-radius: 1vh;
}

#esp2{
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  font-size: 24px;
  color: green;
  margin: 5px;
  border: transparent 5px;
  border-radius: 1vh;
  transition-duration: 0.4s;
}

#esp2:hover{
  background-color: green; /* Verde */
  color: white;
  cursor: pointer;
  border: transparent 5px;
  border-radius: 1vh;
}

#esp3{
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  font-size: 24px;
  color: gold;
  margin: 5px;
  border: transparent 5px;
  border-radius: 1vh;
  transition-duration: 0.4s;
}

#esp3:hover{
  background-color: gold; /* Dourado */
  color: white;
  cursor: pointer;
  border: transparent 5px;
  border-radius: 1vh;
}

#alt{
  margin-left: 45px;
}

@keyframes myColorChange{
  10%{color: red;}
  20%{color: orange;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: purple;}
}

#mapa{
  height: 720px;
  width: 1500px;
  display: flex;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border: black solid 5px;
  border-radius: 2vh;
}

#h21{
  font-size: 19px;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  width: 500px;
  height: 655px;
  border: black solid 5px;
  border-radius: 2vh;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  text-decoration: none;
  word-wrap: break-word;
  display: flex;
  padding: 1%;
  float: left;
}

#h22{
  font-size: 19px;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  width: 500px;
  height: 655px;
  border: black solid 5px;
  border-radius: 2vh;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  text-decoration: none;
  word-wrap: break-word;
  display: flex;
  padding: 1%;
}

h3{
  font-size: 25px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bolder;
  text-align: center;
}

#u2{
  font-family: Inter, Arial, Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  text-decoration: none;
}

#l2{
  color: black;
  background-color: white;
  font-weight: bold;
  font-family: Inter, Arial, Helvetica;
  list-style: none;
  margin-left: 350px;
  margin-right: 350px;
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

#linhi{
  margin-top: 100px;
  color: rgb(134, 136, 136);
}

#bao{
  font-family: Inter, Arial, Helvetica;
  background-color: transparent;
  border: 5px;
  border-radius: 2vh;
  border-color: transparent;
  padding: 0px;
  float: none;
  transition-duration: 1s;
}

#bao:hover{
  color: black;
  cursor: pointer;
  border: transparent;
}

#abrig{
  position: relative;
}

#imagi1{
  width: 50px;
  height: 50px;
  position: absolute;
}

#imagi2{
  width: 50px;
  height: 50px;
  position: absolute;
}

#imagi3{
  width: 50px;
  height: 50px;
  position: absolute;
}

#imgbio1{
  width: 1269px;
  height: 700px;
  position: flex;
  border: black solid 5px;
  border-color: transparent;
  border-radius: 3vh;
}

#imgbio2{
  width: 1269px;
  height: 700px;
  position: flex;
  border: black solid 5px;
  border-color: transparent;
  border-radius: 3vh;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

#ppp{
  font-family: Inter, Arial, Helvetica;
  font-size: 20px;
  font-weight: bold;
  width: 1795px;
  height: 50px;
  color: black;
  background-color: white;
  border: transparent solid 5px;
  border-radius: 2vh;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  margin-left: 20px;
  margin-top: 20px;

}

#biomas{
  background: -webkit-linear-gradient(rgb(63, 156, 0), rgb(219, 208, 54));
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  position: relative;
}

#fauna{
  background: -webkit-linear-gradient(rgb(206, 17, 17), rgb(144, 11, 206));
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  position: relative;
}

#clima{
  background: -webkit-linear-gradient(rgb(0, 17, 255), rgb(255, 251, 1));
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: none;
}

#count{
  width: 540px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  text-align: center;
  border: transparent solid 5px;
  border-radius: 2vh;
  text-decoration: none;
  word-wrap: break-word;
  margin-left: 20px;
  margin-bottom: 0px;
}

#count2{
  width: 540px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, Arial, Helvetica;
  color: black;
  background-color: white;
  text-align: center;
  border: transparent solid 5px;
  border-radius: 3vh;
  text-decoration: none;
  word-wrap: break-word;
  margin-left: 1318px;
  margin-bottom: 0px;
}

#amz{
  color: rgb(38, 131, 2);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#caa{
  color: rgb(207, 142, 0);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#cer{
  color: rgb(204, 20, 164);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#mat{
  color: rgb(16, 150, 202);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#pam{
  color: rgb(233, 200, 12);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#pan{
  color: rgb(45, 99, 75);
  font-size: 32px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  float: auto;
}

#u3{
  font-family: Inter, Arial, Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  text-decoration: none;
  margin: auto;
  margin-top: 150px;
  margin-left: 0px;
  padding: 0px;
}

#l3{
  font-size: 24px;
  font-family: Inter, Arial, Helvetica;
  font-weight: bolder;
  color: black;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
  clear: auto;
  text-decoration: none;
}

#l3a{
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

#l3a:hover{
  background-color: rgb(134, 136, 136); /* Cinza Claro */
  color: black;
  cursor: pointer;
}

/* Cards */

#corp{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#cardimg{
  width: 333px;
  height: 222px;
  border-radius: 0px;
  transition: .5s;
}

#cardh{
  font-family: Inter, Arial, Helvetica;
  font-size: 24px;
  font-weight: bolder;
  margin: 10px;
}

#cardp{
  font-family: Inter, Arial, Helvetica;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  visibility: hidden;
  opacity: 0;

}

.intro{
  width: 333px;
  height: 70px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(134, 136, 136);
  color: white;
  transition: .5s;
}

.contcard{
  display: flex;
  justify-content: center;
}

.card{
  height: 222px;
  margin: 50px;
  box-shadow: 5px 5px 15px black;
  overflow: hidden;
}

.card:hover{
  cursor: pointer;
  margin-bottom: 320px;
  position: flex;
}

.card:hover .intro{
  height: 350px;
  background: rgb(73, 73, 73);
}

.card:hover .introi{
  height: 350px;
  background: rgb(73, 73, 73);
}

.card:hover #cardp{
  opacity: 1;
  visibility: visible;
}

.card:hover #cardimg{
  transform: scale(1.1) rotate(-2.5deg);
}

/* Clima */

#h2c{
  font-family: Inter, Arial, Helvetica;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: transparent solid 5px;
  border-radius: 2vh;
  padding: 0.1%;
  margin-top: 5px;
  text-align: center;
}

#h3c{
  font-family: Inter, Arial, Helvetica;
  font-size: 19px;
  font-weight: bold;
  text-decoration: solid;
  color: black;
  border: none solid 5px;
  border-radius: 2vh;
  padding: 1%;
  text-align: center;
}

/* Baixo */

#nom{
  font-family: Inter, Arial, Helvetica;
  font-size: 19px;
  font-weight: bold;
  color: white;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-top: 5px;
  margin-left: 1400px;
  margin-right: 20px;
}

#email{
  font-family: Inter, Arial, Helvetica;
  font-size: 18px;
  font-weight: bold;
  color: white;
  justify-content: right;
  text-align: right;
  list-style: none;
}

#imi{
  width: 50px;
  height: 50px;
  margin: 10px;
  justify-content: center;
}

#baixo{
  display: flex;
  background-color: rgb(134, 136, 136);
  color: #FFF;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  
}