/* main */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Inter', 'Noto Color Emoji', 'Times New Roman';
}

html{
  font-size: 16px;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a{
  text-decoration: none;
  color: inherit;
}

#mapa{
  font-weight: 500;
  height: 50vh;
  width: 50vw;
  max-width: 100%;
  min-height: 100%;
}

main{
  display: flex;
  overflow: auto;
  min-height: 70vh;
  transform: translateX(-100px);
  transition: background-color 0.3s, color 0.3s;
  animation: fadeIn 1.5s ease forwards;
  box-shadow: 5px 2.5px 2.5px #0000001a;
  opacity: 0;
}

aside{
  text-align: center;
  height: 100%;
  width: 25%;
  padding: 1%;
}

section{
  justify-content: center;
}

article{
  height: inherit;
  width: 25%;
  padding: 1%;
}

#rodapé{
  display: flex;
  background-color: #555555;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#rodapé img{
  width: 2rem;
  height: 2rem;
  margin: 0rem 1rem 0rem 0.5rem;
  justify-content: center;
}

#rodapé p{
  font-size: 0.9rem;
  display: flex;
  text-align: center;
}

.plamt-contêiner{
  width: 3.4rem;
  height: 3.25rem;
  display: flex;
  margin-right: 1rem;
  border: none;
  background-image: url('./imagens/ícones/plamt-icon.png');
  transition: background-image 0.8s ease-in-out;
  background-size: cover;
}

.plamt-contêiner div:hover{
  background-image: url('./imagens/ícones/plamt-icon.png');
}

#plamt{
  font-size: 0;
  font-weight: 550;
  display: inline-block;
  margin-top: 0.5rem;
}

#plamt .arco-íris:hover{
  animation: 4s changeCor infinite ease-in-out;
}

.arco-íris{
  font-size: 2.8rem;
}

.arco-íris:nth-child(1){animation-delay: 0s;} .arco-íris:nth-child(2){animation-delay: 0.2s;} .arco-íris:nth-child(3){animation-delay: 0.4s;} .arco-íris:nth-child(4){animation-delay: 0.6s;} .arco-íris:nth-child(5){animation-delay: 0.8s;} .arco-íris:nth-child(6){animation-delay: 1s;}

::placeholder {
  color: inherit;
  opacity: 1;
}

.nav{
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 108px;
  line-height: 100px;
  z-index: 100;
  font-size: 1.2rem;
  box-shadow: 5px 2.5px 2.5px #0000001a;
}

.nav a{
  height: 100%;
  padding: 0rem 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-logo p{
  font-size: 2rem;
}

.nav-menu ul{
  display: flex;
}

.nav-menu ul li{
  margin-top: 5px;
  list-style-type: none;
}

.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 550;
  padding-bottom: 0px;
  margin: 0 25px;
}

.link:hover, .active{
  border-bottom: 2px solid;
}

.nav-button .btn{
  width: 120px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  background: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s ease;
}

/* sidebar */

#pesquisar{
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 15px;
  padding: 1.5%;
}

#pesquisar-contêiner{
  border-radius: 1.2rem;
  padding: 0.8%;
  margin: 1rem 0rem 1rem 0rem;
  box-shadow: 2.5px 2.5px 2.5px 2.5px #0000001a;
}

#pesquisar input{
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  border: none;
  background-color: transparent;
}

#pesquisar input:focus-visible{
  outline: none;
}

#pesquisar button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#pesquisar-lupa{
  margin-left: auto;
  margin-right: 5px;
}

.reinos{
  justify-content: center;
}

#reinos-contêiner{
  text-align: center;
  display: inline-block;
  padding: 1%;
}

.reinos #animalia{
  height: 2.5rem;
  width: 6rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: #ff0000;
  border: transparent;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: inherit;
  padding: 1%;
}

.reinos #animalia:hover{
  background-color: #ff0000;
  cursor: pointer;
  color: #fff;
}

.reinos #plantae{
  height: 2.5rem;
  width: 6rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: #008000;
  border: transparent;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: inherit;
  padding: 1%;
}

.reinos #plantae:hover{
  background-color: #008000;
  cursor: pointer;
  color: #fff;
}

.reinos #fungi{
  height: 2.5rem;
  width: 6rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: #0000ff;
  border: transparent;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: inherit;
  padding: 1%;
}

.reinos #fungi:hover{
  background-color: #0000ff;
  cursor: pointer;
  color: #fff;
}

.espécies{
  font-size: 0.95rem;
  font-weight: 500;
}

/* carrossel */

.slider-conjunto{
  height: 19rem;
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  overflow: hidden;
  border: 0.25rem solid #fff;
  border-radius: 2rem;
  box-shadow: 5px 2.5px 2.5px #0000001a;
}

.slider-wrapper{
  display: flex;
  animation: slide 35s infinite ease-in-out;
}

.slider-imagens{
  max-width: 100%;
  max-height: 100%;
}

/* notícias */

#notícias{
  font-size: 1.3rem;
  justify-content: center;
  text-align: center;
  margin: 1rem 0rem 0rem 0rem;
}

#notícias-versão{
  text-align: center;
}

#notícias-contêiner{
  font-size: 1rem;
  font-weight: 500;
  padding: 2.5% 0% 0% 5%;
}

#notícias-contêiner header{
  text-align: center;
}

#notícias-seção{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.notícias-item{
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px #0000001a;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}

.notícias-item img{
  max-width: 100%;
  height: auto;
}

.notícias-item h2{
  color: #333;
}

.notícias-item p{
  font-size: 1rem;
}

.notícias-item a{
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

/* baixo */

#baixo{
  width: 100%;
  min-height: 18vh;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 2.5px 2.5px #0000001a;
}

#legenda, #seções{
  font-size: 1.1rem;
  font-weight: 550;
  justify-content: center;
  text-align: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

#legenda-imagens{
  width: 1.5rem;
  height: 1.5rem;
  position: flex;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 100%;
}

#seções-imagens{
  width: 1.5rem;
  height: 1.5rem;
  position: flex;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#legenda-ul, #seções-ul{
  font-size: 1.2rem;
  display: flex;
  clear: both;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

#legenda-li, #seções-li{
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  margin: 0rem 0.75rem 0rem 0.25rem;
  clear: auto;
}

/* conteúdo */

#brasil{
  text-align: center;
  box-shadow: 5px 2.5px 2.5px #0000001a;
}

#brasil-contêiner-texto{
  padding: 1%;
  box-shadow: 0px 0px 2.5px #0000001a;
}

#brasil-texto{
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 1%;
}

#brasil-span{
  font-weight: 800;
}

#brasil-ul{
  font-size: 1rem;
  font-weight: 550;
  text-align: justify;
  padding: 1%;
}

#brasil-li{
  font-size: 1rem;
  font-weight: 550;
  text-align: justify;
  padding: 1%;
}

#brasil-li:nth-child(1)::marker{color: #63ab3f} #brasil-li:nth-child(2)::marker{color: #f0b541} #brasil-li:nth-child(3)::marker{color: #ffae70} #brasil-li:nth-child(4)::marker{color: #4fa4b8} #brasil-li:nth-child(4)::marker{color: #686f99}

#brasil svg{
  width: 40%;
  height: 40%;
  margin: 1em;
  float: left;
}

#brasil .norte{
  fill: #63ab3f;
}

#brasil .nordeste{
  fill: #f0b541;
}

#brasil .centro-oeste{
  fill: #ffae70;
}

#brasil .sudeste{
  fill: #4fa4b8;
}

#brasil .sul{
  fill: #686f99;
}

#brasil path{
  fill: #d91df2;
  stroke: #fff;
  stroke-width: 1px;
}

#brasil path:hover{
  fill: #800080;
  stroke: #ff0000;
  stroke-width: 3px;
  transition: fill 0.4s;
}

#brasil .tooltip{
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: #fff;
  padding: 10px 15px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
}

#brasil .tooltip.active{
  display: block;
}

#brasil .tooltip:after{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

#biomas{
  font-size: 1.6rem;
  color: #008000;
  text-align: center;
}

#amazônia{
  font-size: 1.5rem;
  text-align: center;
  color: #2c922c;
  outline: none;
}

#caatinga{
  font-size: 1.5rem;
  text-align: center;
  color: #ebd40b;
  outline: none;
}

#cerrado{
  font-size: 1.5rem;
  text-align: center;
  color: #dd7113;
  outline: none;
}

#mata-atlântica{
  font-size: 1.5rem;
  text-align: center;
  color: #2b70c0;
  outline: none;
}

#pampa{
  font-size: 1.5rem;
  text-align: center;
  color: #264a80;
  outline: none;
}

#pantanal{
  font-size: 1.5rem;
  text-align: center;
  color: #b90dee;
  outline: none;
}

#zona-marinha{
  font-size: 1.5rem;
  text-align: center;
  color: #ee1adc;
  outline: none;
}

#biomas-seções{
  box-shadow: 5px 2.5px 2.5px #0000001a;
  text-align: center;
}

#biomas-contêiner{
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 85%;
  margin: 0 auto;
  align-items: stretch;
}

#biomas-grande{
  flex: 3;
  display: flex;
  flex-direction: column;
}

#biomas-grande img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.biomas-pequeno{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.biomas-pequeno img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
}

#biomas-contêiner-texto{
  display: inline-flex;
}

#biomas-texto{
  width: 33.33%;
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 1%;
  box-shadow: 0px 0px 2.5px #0000001a;
}

#biomas-tecnologia{
  width: 100%;
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 1%;
  box-shadow: 0px 0px 2.5px #0000001a;
}

#biomas-negrito{
  font-weight: bold;
}

#biomas-itálico{
  font-style: italic;
}

.biomas-tecnologia-highlight{
  color: #4e4e4e;
  font-weight: bold;
  background-color: #f4fcda;
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.biomas-tecnologia-highlight:hover{
  background-color: #88a756;
  color: white;
  box-shadow: 0 4px 10px #00000033;
  transform: scale(1.1);
}

#fauna{
  font: 1.6rem;
  color: #ff0000;
  text-align: center;
  padding-top: 1%;
}

#fauna-seções{
  box-shadow: 5px 2.5px 2.5px #0000001a;
  padding-bottom: 0.5%;
}

#fauna-contêiner-texto{
  justify-content: center;
}

#fauna-texto{
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 1%;
}

#flora{
  font: 1.6rem;
  color: gold;
  text-align: center;
  padding-top: 1%;
}

#flora-seções{
  box-shadow: 5px 2.5px 2.5px #0000001a;
}

#flora-main{
  align-content: center;
  justify-content: center;
}

#flora-imagens{
  width: 45rem;
  border-radius: 2rem;
}

#flora-contêiner-texto{
  justify-content: center;
}

#flora-texto{
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 1%;
}

#clima{
  font: 1.6rem;
  color: #0000ff;
  text-align: center;
  padding-top: 1%;
}

#jogos{
  font: 1.6rem;
  color: #8a2be2;
  text-align: center;
  padding-top: 1%;
}

#clima:hover, #jogos:hover{
  color: #fff;
}

#clima-jogos-seções{
  box-shadow: 5px 2.5px 2.5px #0000001a;
  padding-bottom: 0.5%;
  text-align: center;
}

#clima-jogos-contêiner{
  display: flex;
  justify-content: center;
  gap: 25%;
}

#clima-botão, #jogos-botão{
  font-size: 1rem;
  font-weight: 550;
  width: 9rem;
  border: transparent;
  border-radius: 12px;
  transition-duration: 0.4s;
  padding: 0.5%;
  color: inherit;
  background-color: inherit;
  margin-top: 1rem;
}

#clima-botão:hover{
  background: linear-gradient(90deg, #4a7dff, #21d356);
  cursor: pointer;
}

#jogos-botão:hover{
  background: linear-gradient(90deg, #4a7dff, #8a2be2);
  cursor: pointer;
}

#clima-botão:hover h1, #jogos-botão:hover h1{
  color: #fff;
}

/* cards */

#cards{
  display: flex;
  justify-content: space-evenly;
  text-align: initial;
}

.cards-contêiner{
  height: 18rem;
  width: 25rem;
  perspective: 50rem;
  grid-row: 3;
  padding: 1%;
}

.cards-contêiner:hover > .card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card{
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.frente, .verso{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 2.5px 2.5px #0000001a;
  position: absolute;
  backface-visibility: hidden;
}

.frente{
  background-image: url();
}

.verso{
  background-color: #000000;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

.verso h1{
  font-size: 1.4rem;
  margin-top: 1rem;
}

.verso p{
  font-size: 0.9rem;
  padding: 1rem 1rem 0rem 1rem;
  justify-content: center;
}

/* slider */

.fotos-contêiner{
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 15px auto 15px auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 1rem;
}

.fotos{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.fotos img{
  width: 100%;
  display: none;
}

.fotos img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.controles{
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

#anterior, #posterior{
  background-color: #00000080;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 1rem 1.2rem;
  margin: 0 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#anterior:hover, #posterior:hover{
  background-color: #000000b3;
}

/* modo escuro */

#btn-dark-mode{
  position: inherit;
  display: flex;
  justify-content: right;
}

#dark-mode-label{
  width: 2.5rem;
  height: 1.25rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 100px;
  box-shadow: inset 0rem 3rem 5rem #00000066, inset -0rem -3rem 5rem #fff;
  cursor: pointer;
}

#dark-mode-label:after{
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 100rem;
  box-shadow: 0rem 3rem 5rem #00000033;
}

#darkmode-toggle{
  visibility: hidden;
}

#dark-mode-label:after{
  content: "";
  width: 1rem;
  height: 1rem;
  position: flex;
  top: 10%;
  left: 5%;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 10px;
  box-shadow: 0rem 0.3rem 0.5rem #00000033;
}

#darkmode-toggle:checked + label{
  background: #242424;
}

#darkmode-toggle:checked + label:after{
  left: 2.5rem;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}

#dark-mode-label, #dark-mode-label:after{
  transition: 0.3s
}

#dark-mode-label:active:after{ 
  width: 1rem; 
}

#darkmode-toggle:checked + #dark-mode-label + .background{
  background: #121212;
}

body.light-mode{
  background-color: #fff;
  color: #000000;
  transition: .5s ease-in-out;
}

body.dark-mode{
  background-color: #121212;
  color: #fff;
  box-shadow: 5px 2.5px 2.5px #0000001a;
  transition: .5s ease-in-out;
}

body.dark-mode #pesquisar-contêiner{
  background-color: #fff;
}

body.dark-mode #pesquisar-lupa, body.dark-mode #pesquisar input{
  color: #fff;
}

body.dark-mode #pesquisar{
  background-color: #121212;
}

/* animações & transições */

@keyframes changeCor{
  10%{color: #ff0000;}
  20%{color: #ffa500;}
  40%{color: #ffd700;}
  60%{color: #008000;}
  80%{color: #0000ff;}
  100%{color: #8a2be2;}
}

@keyframes slide{
  0%{transform: translateX(0);} 5%{transform: translateX(0);} 10%{transform: translateX(-100%);} 15%{transform: translateX(-100%);} 20%{transform: translateX(-200%);} 25%{transform: translateX(-200%);} 30%{transform: translateX(-300%);} 35%{transform: translateX(-300%);} 40%{transform: translateX(-400%);} 45%{transform: translateX(-400%);} 50%{transform: translateX(-500%);} 55%{transform: translateX(-500%);} 60%{transform: translateX(-600%);} 65%{transform: translateX(-600%);} 70%{transform: translateX(-700%);} 75%{transform: translateX(-700%);} 80%{transform: translateX(-800%);} 85%{transform: translateX(-800%);} 90%{transform: translateX(-900%);} 95%{transform: translateX(-900%);} 100%{transform: translateX(-1000%);}
}

@keyframes fadeIn{
  0% {
    opacity: 0; 
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* media querries */

@media (orientation: landscape){
  /* desktop */
  @media (min-width: 1920px){
    html{
      font-size: 16px;
    }
  }

  /* laptops grandes */
  @media (min-width: 1760px) and (max-width: 1919px){
    html{
      font-size: 15px;
    }
  }

  /* laptops médios & tablets grandes */
  @media (min-width: 1600px) and (max-width: 1759px){
    html{
      font-size: 14px;
    }
  }

  /* laptops pequenos & tablets médios */
  @media (min-width: 1366px) and (max-width: 1599px) {
    html{
      font-size: 13px;
    }
    #mapa{
      max-width: 100%;
      min-height: 100%;
    }
    .slider-conjunto{
      height: 17.5rem;
    }
  }

  /* smartphones grandes & tablets pequenos */
  @media (min-width: 1280px) and (max-width: 1365px) {
    html{
      font-size: 12px;
    }
  }

  /* smartphones pequenos */
  @media (max-width: 575px){
    html{
      font-size: 11px;
    }
  }

  /* alta definição */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){

  }

}

@media (orientation: portrait){

}
